.elements {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .img {
    height: 200px;
    transition: 0.3s;
    margin: 0 auto;
    width: 100%;
    cursor: pointer;
  }

  .animate {
    width: 0;
  }

  .noAnimated {
    width: 100%;
  }
}

.check {
  width: 40px;
  position: absolute;
  right: 0;
  top: 0;
}